name: Bygg og publiser pakke på GitHub Packages

on:
  push:
    branches:
      - 'main'
    paths:
      - 'http-client/**'
      - 'kafka/**'
      - 'log/**'
      - 'pdl/**'
      - 'sikkerhet/**'
      - 'spring/**'
      - 'test-util/**'
      - 'unleash/**'
      - 'util/**'
      - '.github/workflows/build-deploy.yml'
      - 'build.gradle.kts'
      - 'settings.gradle.kts'
  workflow_dispatch:

jobs:
  build_and_deploy:
    name: "Opprett og publiser leveranse på GitHub Packages"
    uses: navikt/tilleggsstonader/.github/workflows/java-build-and-publish-release.yml@main
    secrets: inherit
    permissions:
      contents: write
      packages: write
